# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-keycloak

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
.terraform/
terraform.tfstate*

.gradle/

# custom user federation example
custom-user-federation-example/build
!custom-user-federation-example/build/libs

# docs
site/

# releases
*.zip

.DS_Store
e2e-test/.terraform.lock.hcl
testacc.log
providers/registry.terraform.io/joed22636/keycloak/1.0.3/darwin_amd64/terraform-provider-keycloak_v1.0.3
